html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #fff;
}

span {
  background-color: rgba(0, 0, 0, .5);
  line-height: 1.4;
}

p {
  font-size: 2rem;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 48px;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.main {
  position: absolute;
  padding: 0 1.5rem;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 50em;
  overflow: hidden;
}

.cardtitle span {
  padding-top: .1rem;
  padding-left: .1rem;
}

.img-flex {
  display: block;
  width: 100%;
}
